POSTGRES_DB=securefindings
POSTGRES_USER=securefindings_app
POSTGRES_PASSWORD=CAMBIA_ESTA_CONTRASENA_LOCAL

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=CAMBIA_ESTA_CONTRASENA_LOCAL

KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/securefindings